body {
	background-color: #E1E1E1;
}

h2, h4 {
	font-weight: bold;
}

p {
	font-style: italic;
	font-weight: bold;
}

textarea {
	width: 300px;
	height: 100px;
	resize : none;
}

.head {
	margin-left: 500px;
}

input:focus {
	border-color: blue;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 700px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
	display: inline-block;
	width: 120px;
	text-align: right;
}

.name {
	display: inline-block;
}

form div .gen + .gen {
	margin-left: 4em;
}

form div .qual + .qual {
	margin-top: 20em;
	margin-left: 2em;
}

.submit + .submit {
	margin-left: 100;
}

.submit {
	margin-left: 200;
	width: 100px;
}

.add {
	width:300px;
	margin-left: 110px;
}

fieldset div fieldset * {
	margin-left: -15px;
}

.res {
	margin-left: 15px;
}

.comm {
	margin-left: 125px;
}

.res input {
	margin-left: 25;
}